In [1]:
%load_ext bigdata

In [2]:
%timeout 300

In [3]:
%%hive
DROP TABLE IF EXISTS data2;

CREATE TABLE data2 (letra    STRING,
                       fecha    STRING,
                       cantidad INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';

LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE data2;


INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE

SELECT * FROM data2
ORDER BY letra, cantidad;

DROP TABLE IF EXISTS data2;
OK
Time taken: 9.948 seconds
CREATE TABLE data2 (letra    STRING,
                       fecha    STRING,
                       cantidad INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';
OK
Time taken: 1.187 seconds
LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE data2;
Loading data to table default.data2
OK
Time taken: 2.065 seconds
INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
SELECT * FROM data2
ORDER BY letra, cantidad;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209202815_7a2df40b-fd6a-4413-a3a4-84fc2a323861
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581279953793_0001, Tracking URL = http://66dea27a9b7e:8088/proxy/application_1581279953793_0001/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581279953793_0001
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-09 20:28:29,018 Stage-1 map = 0%,  reduce = 0%
2020-02-09 20:28:33,626 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.7 sec
2020-02-09 20:28:39,227 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.98 sec
MapReduce Total cumulative CPU time: 2 seconds 980 msec
Ended Job = job_1581279953793_0001
Moving data to local directory output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.98 sec   HDFS Read: 7696 HDFS Write: 637 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 980 msec
OK
Time taken: 25.203 seconds