In [1]:
%load_ext bigdata

In [2]:
%timeout 300

In [5]:
%hive_quit

In [3]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
--
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 10.625 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 2.055 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 2.162 seconds
--
DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.014 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.078 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 1.147 seconds

In [4]:
%%hive
INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT c2, concat_ws(':', letter) AS tag
FROM (
SELECT c2,collect_list(cast(c1 AS string)) AS letter
FROM tbl0 GROUP BY c2 
) z
ORDER BY c2, tag;

INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT c2, concat_ws(':', letter) AS tag
FROM (
SELECT c2,collect_list(cast(c1 AS string)) AS letter
FROM tbl0 GROUP BY c2
) z
ORDER BY c2, tag;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209222303_95f026c5-cc1e-42e5-bbfe-e1064df21d91
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581286874431_0001, Tracking URL = http://100f26817f7e:8088/proxy/application_1581286874431_0001/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581286874431_0001
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-09 22:23:17,409 Stage-1 map = 0%,  reduce = 0%
2020-02-09 22:23:23,171 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.05 sec
2020-02-09 22:23:28,952 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.86 sec
MapReduce Total cumulative CPU time: 3 seconds 860 msec
Ended Job = job_1581286874431_0001
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581286874431_0002, Tracking URL = http://100f26817f7e:8088/proxy/application_1581286874431_0002/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581286874431_0002
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-02-09 22:23:42,890 Stage-2 map = 0%,  reduce = 0%
2020-02-09 22:23:47,344 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 1.21 sec
2020-02-09 22:23:52,838 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 2.68 sec
MapReduce Total cumulative CPU time: 2 seconds 680 msec
Ended Job = job_1581286874431_0002
Moving data to local directory output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.86 sec   HDFS Read: 9558 HDFS Write: 193 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 2.68 sec   HDFS Read: 4942 HDFS Write: 29 SUCCESS
Total MapReduce CPU Time Spent: 6 seconds 540 msec
OK
Time taken: 51.725 seconds