In [1]:
%load_ext bigdata

In [2]:
%timeout 300

In [3]:
%%hive
DROP TABLE IF EXISTS t0;
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>, 
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED 
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;

DROP TABLE IF EXISTS t0;
OK
Time taken: 9.247 seconds
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>,
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
OK
Time taken: 0.752 seconds
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;
Loading data to table default.t0
OK
Time taken: 1.498 seconds

In [4]:
%%hive
DROP TABLE IF EXISTS data12;
CREATE TABLE data12 AS
SELECT c,key
FROM (SELECT c, c3
FROM t0
LATERAL VIEW explode(c2) c1 AS c) data12
LATERAL VIEW
explode(c3) data12 ;

INSERT OVERWRITE LOCAL DIRECTORY 'output' ROW FORMAT DELIMITED FIELDS TERMINATED BY ','

(SELECT c, key, COUNT(*)
FROM data12
GROUP BY c, key);

DROP TABLE IF EXISTS data12;
OK
Time taken: 0.039 seconds
CREATE TABLE data12 AS
SELECT c,key
FROM (SELECT c, c3
FROM t0
LATERAL VIEW explode(c2) c1 AS c) data12
LATERAL VIEW
explode(c3) data12 ;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209224515_70573357-6105-40e8-876a-eca46c962c20
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581286874431_0008, Tracking URL = http://100f26817f7e:8088/proxy/application_1581286874431_0008/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581286874431_0008
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-09 22:45:24,078 Stage-1 map = 0%,  reduce = 0%
2020-02-09 22:45:28,540 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.5 sec
MapReduce Total cumulative CPU time: 1 seconds 500 msec
Ended Job = job_1581286874431_0008
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-09_22-45-15_880_8708897907336459379-1/-ext-10001
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/data12
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.5 sec   HDFS Read: 7363 HDFS Write: 3073 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 500 msec
OK
Time taken: 14.526 seconds
INATED BY ','ITE LOCAL DIRECTORY 'output' ROW FORMAT DELIMITED FIELDS TERM
(SELECT c, key, COUNT(*)
FROM data12
GROUP BY c, key);
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209224530_aed29a1f-06ec-4fb9-890b-3f221f92e8ce
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581286874431_0009, Tracking URL = http://100f26817f7e:8088/proxy/application_1581286874431_0009/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581286874431_0009
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-09 22:45:41,124 Stage-1 map = 0%,  reduce = 0%
2020-02-09 22:45:45,491 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.99 sec
2020-02-09 22:45:53,294 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.94 sec
MapReduce Total cumulative CPU time: 3 seconds 940 msec
Ended Job = job_1581286874431_0009
Moving data to local directory output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.94 sec   HDFS Read: 11240 HDFS Write: 573 SUCCESS
Total MapReduce CPU Time Spent: 3 seconds 940 msec
OK
Time taken: 23.82 seconds

In [5]:
%hive_quit