In [1]:
%load_ext bigdata

In [2]:
%timeout 300

In [4]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
--
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 0.086 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.081 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 0.761 seconds
--
DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.096 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.08 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 0.727 seconds

In [6]:
%%hive
DROP TABLE IF EXISTS data8;
CREATE TABLE data8 AS
SELECT c2, v
FROM tbl0
LATERAL VIEW
explode(c6) c2 AS k,v;
INSERT OVERWRITE LOCAL DIRECTORY 'output' ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
(SELECT c2, SUM(v) FROM data8
GROUP BY c2);

DROP TABLE IF EXISTS data8;
OK
Time taken: 0.03 seconds
CREATE TABLE data8 AS
SELECT c2, v
FROM tbl0
LATERAL VIEW
explode(c6) c2 AS k,v;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209222509_32a422ff-b553-4045-8b78-592d051cd4ec
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581286874431_0003, Tracking URL = http://100f26817f7e:8088/proxy/application_1581286874431_0003/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581286874431_0003
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-09 22:25:20,135 Stage-1 map = 0%,  reduce = 0%
2020-02-09 22:25:25,784 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.09 sec
MapReduce Total cumulative CPU time: 1 seconds 90 msec
Ended Job = job_1581286874431_0003
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-09_22-25-09_951_7376464295408079574-1/-ext-10001
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/data8
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.09 sec   HDFS Read: 5970 HDFS Write: 195 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 90 msec
OK
Time taken: 17.611 seconds
INATED BY ','ITE LOCAL DIRECTORY 'output' ROW FORMAT DELIMITED FIELDS TERM
(SELECT c2, SUM(v) FROM data8
GROUP BY c2);
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209222527_47189500-3ba6-494a-9a0a-760feaba4392
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581286874431_0004, Tracking URL = http://100f26817f7e:8088/proxy/application_1581286874431_0004/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581286874431_0004
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-09 22:25:37,622 Stage-1 map = 0%,  reduce = 0%
2020-02-09 22:25:42,014 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.11 sec
2020-02-09 22:25:48,607 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.42 sec
MapReduce Total cumulative CPU time: 2 seconds 420 msec
Ended Job = job_1581286874431_0004
Moving data to local directory output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.42 sec   HDFS Read: 7718 HDFS Write: 23 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 420 msec
OK
Time taken: 22.18 seconds

In [7]:
%hive_quit