In [1]:
%load_ext bigdata

In [2]:
%timeout 300

In [3]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
--
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 9.756 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.833 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 2.1 seconds
--
DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.012 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.087 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 0.726 seconds

In [4]:
%%hive
DROP TABLE IF EXISTS data5;
CREATE TABLE data5 AS 
SELECT YEAR(c4) AS ano, c0 FROM tbl0
LATERAL VIEW explode(c5) c4 AS c0;

INSERT OVERWRITE LOCAL DIRECTORY 'output' ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
(SELECT ano, c0, COUNT(c0) FROM data5
GROUP BY ano, c0
ORDER BY ano, c0);

DROP TABLE IF EXISTS data5;
OK
Time taken: 0.012 seconds
CREATE TABLE data5 AS
SELECT YEAR(c4) AS ano, c0 FROM tbl0
LATERAL VIEW explode(c5) c4 AS c0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209210723_be273010-3057-4454-b314-bc886f930c61
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581282206331_0001, Tracking URL = http://b64a4f36d182:8088/proxy/application_1581282206331_0001/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581282206331_0001
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-09 21:07:35,260 Stage-1 map = 0%,  reduce = 0%
2020-02-09 21:07:39,873 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.81 sec
MapReduce Total cumulative CPU time: 1 seconds 810 msec
Ended Job = job_1581282206331_0001
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-09_21-07-23_693_4851530470098578261-1/-ext-10001
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/data5
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.81 sec   HDFS Read: 6119 HDFS Write: 308 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 810 msec
OK
Time taken: 19.23 seconds
INATED BY ','ITE LOCAL DIRECTORY 'output' ROW FORMAT DELIMITED FIELDS TERM
(SELECT ano, c0, COUNT(c0) FROM data5
GROUP BY ano, c0
ORDER BY ano, c0);
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209210743_5d804368-b53d-4288-9976-cf58e2073646
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581282206331_0002, Tracking URL = http://b64a4f36d182:8088/proxy/application_1581282206331_0002/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581282206331_0002
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-09 21:07:52,868 Stage-1 map = 0%,  reduce = 0%
2020-02-09 21:07:57,356 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.52 sec
2020-02-09 21:08:03,932 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.01 sec
MapReduce Total cumulative CPU time: 3 seconds 10 msec
Ended Job = job_1581282206331_0002
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581282206331_0003, Tracking URL = http://b64a4f36d182:8088/proxy/application_1581282206331_0003/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581282206331_0003
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-02-09 21:08:17,676 Stage-2 map = 0%,  reduce = 0%
2020-02-09 21:08:22,090 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 1.2 sec
2020-02-09 21:08:27,581 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 2.66 sec
MapReduce Total cumulative CPU time: 2 seconds 660 msec
Ended Job = job_1581282206331_0003
Moving data to local directory output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.01 sec   HDFS Read: 8072 HDFS Write: 556 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 2.66 sec   HDFS Read: 6341 HDFS Write: 180 SUCCESS
Total MapReduce CPU Time Spent: 5 seconds 670 msec
OK
Time taken: 45.721 seconds