In [1]:
%load_ext bigdata

In [2]:
%timeout 300

In [3]:
%%hive
DROP TABLE IF EXISTS t0;
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>, 
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED 
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;

DROP TABLE IF EXISTS t0;
OK
Time taken: 9.925 seconds
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>,
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
OK
Time taken: 0.773 seconds
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;
Loading data to table default.t0
OK
Time taken: 1.283 seconds

In [4]:
%%hive
INSERT OVERWRITE LOCAL DIRECTORY 'output' ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
(SELECT c1, SIZE(c2), SIZE(c3) FROM t0);

INATED BY ','ITE LOCAL DIRECTORY 'output' ROW FORMAT DELIMITED FIELDS TERM
(SELECT c1, SIZE(c2), SIZE(c3) FROM t0);
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209223851_a0f1cde4-d62e-49be-ad6f-d1737b2c8531
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581286874431_0007, Tracking URL = http://100f26817f7e:8088/proxy/application_1581286874431_0007/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581286874431_0007
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-09 22:39:02,998 Stage-1 map = 0%,  reduce = 0%
2020-02-09 22:39:08,646 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.93 sec
MapReduce Total cumulative CPU time: 1 seconds 930 msec
Ended Job = job_1581286874431_0007
Moving data to local directory output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.93 sec   HDFS Read: 5480 HDFS Write: 240 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 930 msec
OK
Time taken: 18.443 seconds

In [5]:
%hive_quit